<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SalixEDA</Name>
    <Version>3.0.0</Version>
    <Title>Electronic schematic and pcb layout EDA</Title>
    <Publisher>SalixEDA</Publisher>
    <StartMenuDir>SalixEDA</StartMenuDir>
    <TargetDir>@HomeDir@/SalixEDA</TargetDir>
</Installer>